# =========================
# Xcode Build Files
# =========================

build/
DerivedData/

# =========================
# Xcode User Data
# =========================

xcuserdata/
*.xcuserstate

# =========================
# macOS System Files
# =========================

.DS_Store

# =========================
# Logs & Temp Files
# =========================

*.log
*.swp
*.tmp
